# Created by .ignore support plugin (hsz.mobi)
# NetBeans specific #
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
target/
.idea/
# Class Files #
*.class


# Package Files #
*.jar
*.war
*.ear
*.iml
!/lib/commons-codec-1.10.jar
!/lib/httpcore-4.4.4.jar
!/lib/commons-logging-1.2.jar
!/lib/commons-cli-1.2.1.jar
!/lib/httpclient-4.5.2.jar
